<section id="list" class="container content-section text-center">
    <div class="row" align="center">
        <div class="col-lg-6" align="center">
            <h2>Producing Order List <i class="fa fa-edit"></i></h2>
            <form action="/offersys/test/public/updateproduce" method="post">
            <table class="table">
                <thead align="center">
                    <tr>
                        <th>Name</th>
                        <th>Material1</th>
                        <th>Material2</th>
                        <th>Material3</th>
                        <th>Material4</th>
                        <th>Material5</th>
                        <th>Material6</th>
                        <th>Material7</th>
                        <th>Material8</th>
                        <th>Product Inventory</th>
                        <th>Ordered</th>
                        <th>New Order</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in productrecords %}
                        <tr>
                            <td>{{ record.GoodsName }}</td>
                            <td>{{ record.Product1Needed }}</td>
                            <td>{{ record.Product2Needed }}</td>
                            <td>{{ record.Product3Needed }}</td>
                            <td>{{ record.Product4Needed }}</td>
                            <td>{{ record.Product5Needed }}</td>
                            <td>{{ record.Product6Needed }}</td>
                            <td>{{ record.Product7Needed }}</td>
                            <td>{{ record.Product8Needed }}</td>
                            <td>{{ record.inventory }}</td>
                            <td>{{ record.ordered }}</td>
                            <td><input type="text" name="produce[]" class="form-control" placeholder="0"></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Material inventory</td>
                        {% for record in buyrecords %}
                            <td>{{ record.inventory }}</td>
                        {% endfor %}
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <input class="btn btn-default" value="Produce!" type="submit"/>
            </form>
        </div>
    </div>
</section>